<footer>
    <div class="footer_container container">
        <div class="footer_logo">
            <img src="assets/images/logo.png" alt="logo">
        </div>
        <div class="link_lists">
            <h3>Main links</h3>
            <ul>
                <li>Order tracking</li>
                <li>New orders</li>
                <li>Contact us</li>
                <li>News & blogs</li>
            </ul>
        </div>
        <div class="link_lists">
            <h3>Support</h3>
            <ul>
                <li>About us</li>
                <li>Privacy policy</li>
                <li>Terms & conditions</li>
            </ul>
        </div>
        <div class="news_letter">
            <h3>Support</h3>
            <input type="email" placeholder="Enter your email:">
            <h3>Follow us</h3>
            <div class="icon_container">
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</footer>