/* Navigation bar */
nav {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-icon {
    font-size: 32px;
    cursor: pointer;
}

.logo-container img {
    height: 60px;
}

@media (max-width: 768px) {
    .logo-container img {
        height: 40px;
    }
    
    .bar-icon {
        font-size: 24px;
    }
}