<section class="features">
    <div class="feature">
        <img src="assets/icons/discount.png" alt="">
        <div class="feature_content">
            <h3>Discount voucher!</h3>
            <p>Use your voucher at checkout to save big on your favorite meals.</p>
        </div>
    </div>
    <div class="feature">
        <img src="assets/icons/fresh.png" alt="">
        <div class="feature_content">
            <h3>Fresh healthy food!</h3>
            <p>Get the food you want in one click!.</p>
        </div>
    </div>
    <div class="feature">
        <img src="assets/icons/delivery.png" alt="">
        <div class="feature_content">
            <h3>Fast home delivery!</h3>
            <p>Get fast delivery right now!</p>
        </div>
    </div>
</section>
<div class="devider"></div>